<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoWu_Bidding</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./assets/css/all.css" />
  <link rel="stylesheet" href='./assets/css/pages/signin.css'>
  <link rel="stylesheet" href="./assets/css/pages/bidding.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
  <script src="./assets/js/jquery-3.5.1.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <!-- google -->
  <!-- <meta name="google-signin-scope" content="profile email"> -->
  <meta name="google-signin-client_id" content="5123688312-hh38n162r8fqfrd31n2a2hid0q7pk7uf.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <!-- google -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
  <header class="indexSideBar">
    <a class="logoForIndex mousehover" href="../dist/homepage.html">
        <img src="./assets/img/logo_bowu_white.png">
    </a>

    <menu class="menu mousehover">
        <p>MENU</p>
        <div class="menuOpenCloseAni">
            <span class="indexMenuline1"></span>
            <span class="indexMenuline2"></span>
        </div>
    </menu>

    <div class="smallSize_menuOpenCloseAni">
        <span class="smallSize_indexMenuline1"></span>
        <span class="smallSize_indexMenuline2"></span>
    </div>

    <!-- 選單頁面 -->
    <div class="menu_bar none">

        <div class="menuGsapLine"></div>
        <div class="smallSizeCloseBtn">
            <div></div>
        </div>

        <div class="exhibits-title-outer mousehover">
            <div class="exhibits-titleHover"><a href="./exhibition.html" class="menu_personal_exhibits">PERSONAL
                    EXHIBITS</a></div>
            <div class="exhibits-title"><a href="./exhibition.html" class="menu_personal_exhibits">PERSONAL EXHIBITS</a>
            </div>
        </div>

        <div class="menu_about menu_child">
            <a class="mousehover" href="../dist/About.html">
                <img src="./assets/img/menu_about.png">
                About
            </a>
        </div>

        <div class="menu_exhibits menu_child">
            <a class="mousehover" href="../dist/exhibition.html">
                <img src="./assets/img/menu_exhibits.png" alt="">Exhibits</a>
        </div>

        <div class="menu_postcard menu_child">
            <a class="mousehover" href="../dist/postcard.html">
                <img src="./assets/img/menu_postcard.png" alt="">PostCard</a>
        </div>

        <div class="notthings menu_child">
            <a href=""></a>
        </div>

        <div class="join mousehover">
            <div class="line"></div>
            <div class="join-title-outer">
                <div class="join-title"><a href="##">JOIN US NOW</a></div>
                <div class="join-titleHover"><a href="##">JOIN US NOW</a></div>
            </div>
        </div>
    </div>

    <ul>
        <li> <a href="#" class="mousehover">SHARE</a> </li>
        <b></b>
        <li> <a href="./About.html" class="mousehover">CONTACT US</a> </li>
    </ul>
</header>


<div class="sharingBoxAll" style="display: none;">
    <div class="sharingBoxBg"></div>
    <div class="sharingBox">
        <p>
            SHARING BOWU-MUSEUM<br> WITH YOUR FRIEND!
        </p>
        <div class="sharingBtn">
            <ul class="share-buttons" data-source="simplesharingbuttons.com">
                <li><a class="mousehover" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F10.2.0.172%2Fdist%2F&quote=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a></li>
                <li><a class="mousehover" href="https://twitter.com/intent/tweet?source=http%3A%2F%2F10.2.0.172%2Fdist%2F&text=:%20http%3A%2F%2F10.2.0.172%2Fdist%2F" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
                <li><a class="mousehover" href="https://plus.google.com/share?url=http%3A%2F%2F10.2.0.172%2Fdist%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="fab fa-google-plus-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on Google+</span></a></li>
                <li><a class="mousehover" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2F10.2.0.172%2Fdist%2F&title=&summary=&source=http%3A%2F%2F10.2.0.172%2Fdist%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i><span class="sr-only">Share on LinkedIn</span></a></li>
                <li><a class="mousehover" href="mailto:?subject=&body=:%20http%3A%2F%2F10.2.0.172%2Fdist%2F" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fas fa-envelope-square fa-2x" aria-hidden="true"></i><span class="sr-only">Send email</span></a></li>
            </ul>
        </div>
    </div>
</div>
  <div id="app_bidd">
  <div class="rightBlock block">
    <div class="title">
      <h1>競標展品 Bidding</h1>
      <div></div>
      <h2>Buy the goods you like!</h2>
      <p>Enjoy your bidding time.</p>
    </div>
    <div class="swiper-container">
      <button class="swiper-button-prev"></button>
      <!-- <button class="slider_prev" @click="change(active-1)">
        <img src="./assets/img/Icon ionic-ios-arrow-forward.png">
      </button> -->
      <ul class="swiper-wrapper">
        <li class="swiper-slide" v-for="(src,index) in imgList">
          <img :data-id="dataId[index]" :src="src" @click="getData">
        </li>
      </ul>
      <!-- <ul class="swiper-wrapper">
        <li class="swiper-slide" v-for="(src,index) in imgList" v-show="index == active">
          <img :data-id="dataId[index]" :src="src" @click="getData">
        </li>
      </ul> -->
      <button class="swiper-button-next"></button>
      <!-- <button class="slider_next" @click="change(active+1)">
        <img src="./assets/img/Icon ionic-ios-arrow-forward1.png">
      </button> -->
    </div>
    <div class="bidding">
      <div>競標狀態:
        <span>{{itemMessage}}</span>
      </div>
      <!-- theid原本是1 -->
      <div>競標時間: 
        <span v-if="theId == 0">{{ timer | hoursMinutesAndSeconds }}</span>
        <span v-else>{{itemTime}}</span>
      </div>
    </div>
    <div class="introduce">
      <div class="introLeft">
        <h3>競標物品</h3>
        <div class="intro">
          <div class="pic">
            <!-- <img src="./assets/img/exh_5.jpg" alt=""> -->
            <img :src="imgSrc">
          </div>
          <div class="text">
            <h3>{{ExhibitName}}</h3>
            <p>{{ExhibitIntro}}</p>
            <div class="start">
              起始價格: <span> {{Sprice}}</span>
            </div>
            <div class="current">
              目前價格: <span>{{Nprice}}</span>
            </div>
            <div class="yourPrice">
              <div>您的出價:</div>
              <div class="price">
                <button @click="inputprice -= 1"><img src="./assets/img/-.png"></button>
                <!-- <input :value="Nprice"> -->
                <input :value="inputprice">
                <button @click="inputprice += 1"><img src="./assets/img/+.png"></button>
              </div>
            </div>
            <button class="btn_button" @click="addLocal">我要競標</button>
          </div>
        </div>
      </div>
      <div class="introRight">
        <div class="top">
          <div   :class="{black:componentChange==0}"  @click="content='my-component'">討論區</div>
          <div   :class="{black:componentChange==1}" @click="content='my-component1'">競標紀錄</div>
        </div>
        <component @component_change="changeHandler" :list="newObj"  key='newObj' :is="content"></component>
      </div>
    </div>
  </div>
  </div>
  <!-- <div class="features">
    <i class="fas fa-search"></i>
    <div class="personal"><a href="./exhibition.html">個人展間</a>
    </div>


    <div class="login"><a href="###" class="login_manger">管理</a>
        <i class="fas fa-user-friends"></i>
    </div>

    <i class="fas fa-bell"></i>
</div> -->

<div id="searchBarALL">
    <div class="searchBarBlack" @click="searchBarClose" :class="{'-active': searchBarBg}"></div>
    <div class="features">

        <i class="fas fa-search" @click="searchBarOpen"></i>

        <div id="searchBar" :class="{'-active': searchBarPage}">
            <div class="searchBarTop">

                <div class="searchTitle">
                    <i class="fas fa-search"></i>
                    <p> Search </p>
                </div>

                <input type="text" name="searchArea" id="searchBarInput">
                <img class="searchBarArrow" src="./assets/img/Icon_arrowRight.png">

            </div>

            <div class="notSearch">
                <img src="./assets/img/searchBarImg.png">
                <h4 class="no_search">
                    Type something to search...
                </h4>
                <h4 class="no_fouund none">
                    No results found for query "..."
                </h4>
            </div>

            <ul class="searchBar_Found">
                <!-- <li class="searchBar_item"> <div class="personalRoom"></div> <a href="#">Andy's personal exhibits </a> </li>
                <li class="searchBar_item"> <a href="#">Andy's works </a> </li>
                <li class="searchBar_item"> <a href="#">A ....  </a> </li>
                <li class="searchBar_item"> <a href="#">A ....  </a> </li>
                <li class="searchBar_item"> <a href="#">A ....  </a> </li> -->
            </ul>
        </div>

        <div class="personal">
            <a href="./exhibition.html">個人展間</a>
        </div>

        <div class="logInOption">
            <div class="login">
                <a href="###" class="login_manger">登入</a>
                <ul>
                    <li>
                        <a href="###" class="manger close">管理</a>
                        <ul>
                            <li><a href="###" class="logOut close">登出</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="fas fa-user-friends"></i>
            </div>
        </div>

        <i class="fas fa-bell"></i>
    </div>
</div>


<div class="panel panel--static close" id="app2">
    <div class="panel__content left">
        <h1 class="panel__heading">Don't have an account?</h1>
        <p class="panel__copy">免費創辦帳號, 立即成為勃塢會員, 即可上傳自己創作之展覽品, 與各全國藝術家交流, 或是參觀展品<br><br>升級會員可享更多福利 !</p>
        <button type="button" class="btn btn--secondary signup">Sign up</button>
    </div>
    <div class="panel__content right">
        <h1 class="panel__heading">Have an account?</h1>
        <p class="panel__copy">已經有帳號了嗎?<br><br> 歡迎點此直接登入, 進入自己的會員展間, 管理館藏及訂閱高級會員</p>
        <button type="button" class="btn btn--secondary login">Log in</button>
    </div>
    <div class="panel panel--sliding">
        <div class="panel__content signup">
            <h1 class="panel__heading">Sign up</h1>
            <form id="signup" method="POST" action="./assets/php/front/JoinR.php">

                <div><input type="text" placeholder="Full name" id="name" class="input input--name" name='name'
                        :class="{ 'is-invalid': usernameError }" v-model="name" />
                    <p>{{userErrMsg}}</p>
                </div>
                <div><input type="text" placeholder="Email" id="mail" class="input input--email" name="mail"
                        :class="{ 'is-invalid': mailError }" v-model="mail" />
                    <p>{{mailErrMsg}}</p>
                </div>
                <div><input type="password" placeholder="Password" id='password' class="input input--password"
                        name="password" :class="{ 'is-invalid': passwordError }" v-model="password" />
                    <p>{{passErrMsg}}</p>
                </div>
                <br />
                <label class="rule"><input type="checkbox" class="input--agree" value="agree">已閱讀會員守則，並同意遵守</label>
                <br />
                <button class="btn btn--primary" @click='checkSign($event)'>Sign up</button>
            </form>
            <div class="faceGoogle">
                <div class="googleTitle">
                    <div></div>
                    <p>or sign in with</p>
                    <div></div>
                </div>
                <div class="pic">
                    <!-- <div class="fb-login-button" onclick="facebookLogIn()" data-width="120px" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
                    <i class="fab fa-facebook-square" id="facebook" onclick="facebookLogIn()"></i>
                    <div class="g-signin2" onclick="ClickLogin()" data-onsuccess="onSignIn" data-theme="dark"></div>
                </div>
            </div>
        </div>

        <div class="panel__content login">
            <h1 class="panel__heading">Log in</h1>
            <form id="login" method="POST" action="./assets/php/front/LoginR.php">
                <div><input type="text" placeholder="Email" id="mail" class="input input--email" name="mail"
                        :class="{ 'is-invalid': mailError }" v-model="mail" />
                    <p>{{mailErrMsg}}</p>
                </div>
                <div><input type="password" placeholder="Password" id='password' class="input input--password"
                        name="password" :class="{ 'is-invalid': passwordError }" v-model="password" />
                    <p>{{passErrMsg}}</p>
                </div>
                <button class="btn btn--primary" @click='checkLog($event)'>Log in</button>
                <a href="###">Forgot password?</a>
            </form>
            <div class="faceGoogle">
                <div class="googleTitle">
                    <div></div>
                    <p>or sign in with</p>
                    <div></div>
                </div>
                <div class="pic">
                    <i class="fab fa-facebook-square" id="facebook" onclick="facebookLogIn()"></i>
                    <div class="g-signin2" onclick="ClickLogin()" data-onsuccess="onSignIn" data-theme="dark"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="paenl form-wrap close" id="app3">
    <div class="tabs">
        <h3 class="signup-tab"><a class="active" href="#signup-tab-content">Sign Up</a></h3>
        <h3 class="login-tab"><a href="#login-tab-content">Login</a></h3>
    </div>
    <!--.tabs-->

    <div class="tabs-content">
        <div id="signup-tab-content" class="active">
            <form class="signup-form" action="./assets/php/front/JoinR.php" method="post">
                <input type="text" placeholder="Full name" id="name" class="input input--name" name='name'
                    :class="{ 'is-invalid': usernameError }" v-model="name" />
                <p>{{userErrMsg}}</p>
                <input type="text" placeholder="Email" id="mail" class="input input--email" name="mail"
                    :class="{ 'is-invalid': mailError }" v-model="mail" />
                <p>{{mailErrMsg}}</p>
                <input type="password" placeholder="Password" id='password' class="input input--password"
                    name="password" :class="{ 'is-invalid': passwordError }" v-model="password" />
                <p>{{passErrMsg}}</p>
                <button class="button1" @click='checkSign($event)'>Sign up</button>
            </form>
            <!--.login-form-->
            <div class="help-text">
                <label class="rule"><input type="checkbox" class="input--agree" value="agree">已閱讀會員守則，並同意遵守</label>
            </div>
            <!--.help-text-->
            <div class="pic">
                <i class="fab fa-facebook-square" id="facebook" onclick="facebookLogIn()"></i>
                <div class="g-signin2" onclick="ClickLogin()" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
        </div>
        <!--.signup-tab-content-->

        <div id="login-tab-content" class="close">
            <form class="login-form" action="./assets/php/front/LoginR.php" method="post">
                <input type="text" placeholder="Email" id="mail" class="input input--email" name="mail"
                    :class="{ 'is-invalid': mailError }" v-model="mail" />
                <p>{{mailErrMsg}}</p>
                <input type="password" placeholder="Password" id='password' class="input input--password"
                    name="password" :class="{ 'is-invalid': passwordError }" v-model="password" />
                <p>{{passErrMsg}}</p>
                <button class="button1 btn--primary" @click='checkLog($event)'>Log in</button>
            </form>
            <!--.login-form-->
            <div class="help-text">
                <p><a href="#">Forget your password?</a></p>
            </div>
            <!--.help-text-->
            <div class="pic">
                <i class="fab fa-facebook-square" id="facebook" onclick="facebookLogIn()"></i>
                <div class="g-signin2" onclick="ClickLogin()" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
        </div>
        <!--.login-tab-content-->
    </div>
    <!--.tabs-content-->
</div>

<div class="loginClose" style="position: fixed;top: 0;left: 0;
width: 100vw;height: 100vh; opacity: 0.5;background-color: black; display: none;z-index: 50;"></div>
  <div class="musicControlBtn" id="app">
  <div class="musicControlBtnSpan" @click="open">
    <span class="bar line1 hide"></span>
    <span class="bar line2 hide"></span>
    <span class="bar line3 hide"></span>
    <div class="audio">
      <audio loop="loop" id="music1" src="./assets/music/music1.mp3"></audio>
    </div>
  </div>
  <p>{{Music}}</p>
</div>
  <footer>
    <ul>
        <li><a href="./About.html">AboutUs</a></li>
        <li><a href="./exhibition.html">Exhibits</a></li>
        <li><a href="./postcard.html">PostCard</a></li>
    </ul>

    <div class="footerLogo">
        <a href="#">
            <img src="./assets/img/logo_bowu_white.png" width="55px" height="55px">
            <p>　BO WU MUSEUM</p>
        </a>
    </div>

    <ol>
        <li><a href="#">Rules</a></li>
        <li><a href="#"><img src="./assets/img/IconFacebook.png"></a></li>
        <li><a href="#"><img src="./assets/img/IconInstagram.png"></a></li>
        <li><a href="#"><img src="./assets/img/IconYoutube.png"></a></li>
    </ol>
</footer>
<!-- vue -->
  <script>
    const OneHour = 60 * 60 ;  //一小時的總秒數
    Vue.component('my-component',{
    template:`
    <div class="content">
          <ul class='messageform' >
            <li v-for="message in nowMessagebord">
              <h1>{{message.name}}</h1> 
              <div class="personal">
                <img :src="message.member_img">
                <p>{{message.bidding_messages}}</p>
              </div>
            </li>
          </ul>
          <div class="messageblock">
              <textarea v-model="newMessage" @keyup.enter="addmessage"></textarea>
              <button @click="addmessage">傳送</button>
          </div>
        </div>
    `,
    data(){
      return{
        componentChange:'',
        MessageData:[],
        // username:'',
        newMessage:'',
        messages:[],
        nowMessagebord:{},
      }
    },
    mounted(){
      this.$emit('component_change',0)
      // this.componentChange == '0' ;

            //留言板格式
            // <li>
            //   <p>Andy</p>
            //   <div class="personal">
            //     <img src="./assets/img/Ellipse 77.png" alt="">
            //     <p>Lorem ipsum dolor sit amet,
            //       consetetur sadipscing elitr, sed
            //       diam nonumy eirmod </p>
            //   </div>
            // </li>
      //php撈資料
      axios.get("./assets/php/front/bidding_get.php").then((head) => {
              // console.log(head.data[0]);
              this.nowMessagebord = head.data;
              // this.username = head.data[0].name;
        }).catch();
        //localstorge版本 留言板
        // this.nowMessagebord = JSON.parse(localStorage.getItem('messageList')) || [];
    },
    methods:{
      addmessage(){
        // console.log(this.newMessage);
        // this.messages.push(this.newMessage)
        this.MessageData = JSON.parse(localStorage.getItem('tasks')) || [];
        if(!(this.MessageData.length)){
          alert('快登入會員~就可以立即留言喔~')
        }else{
          if($.inArray(this.newMessage,this.messages)== -1){
            // this.messages.push(this.newMessage)
            // this.MessageData.push(this.newMessagebord);
            this.newMessagebord={
                    user:this.MessageData[0]['name'],
                    photo:this.MessageData[0]['pic'],
                    messages:this.newMessage,
                    member_id:this.MessageData[0]['id'],
            }
            // 資料由php帶入
            axios.post('./assets/php/front/bidding_member.php', this.newMessagebord)
              .then((res) => { 
                console.log(res.data)
                this.newMessagebord={
                    user:this.MessageData[0]['name'],
                    photo:this.MessageData[0]['pic'],
                    messages:this.newMessage,
                    member_id:this.MessageData[0]['id'],
            }
              })
            // localStorage.setItem('messageList',JSON.stringify(this.MessageData));
          }
        }
          
      this.newMessage = '';
        }
    },

  });
    Vue.component('my-component1',{
    template:`
    <div class="content">
      <div class="biddinform">
      <ul class="biddtop">
        <li>時間</li>
        <li>競標者</li>
        <li>價錢</li>
      </ul>
      <table class="biddcontent">
        <tr v-for="item in oldBiddList">
            <td>{{item.bidding_time}}</td>
            <td>{{item.name}}</td>
            <td>{{item.bidding_price}}</td>
        </tr>
    </table>
      </div>
    </div>
    `,
    // localstorge 競標紀錄
    // <tr v-for="item in currentBiddList">
    //         <td>{{item.time}}</td>
    //         <td>{{item.name}}</td>
    //         <td>{{item.price}}</td>
    //     </tr>
    props:['list'],
    data(){
      return{
        componentChange:'',
        oldBiddList:[],
        newObj:this.list,
        // currentBiddList:this.list,     //localstorge版本 競標紀錄
      }
    },
    mounted() {
      this.$emit('component_change',1)
      //localstorge版本 競標紀錄
      // this.oldBiddList = JSON.parse(localStorage.getItem('biddList')) || [];
    },
    updated() {
        this.newobj_two();
    },
    methods:{
      newobj_two(){
        setInterval(()=>{
          this.oldBiddList = this.list;
        },1000)
        
      },
    },
    watch: {
        list: {
          handler() {
            this.newobj_two();
          },
          immediate:true,
          deep: true,
        },
      },
  });
  
    new Vue({
      el:'#app_bidd',
      data:{
          componentChange:0,
          MessageData:[],
          username:'',
          active:0,
          nowTime:'',
          imgList:[],
          dataId:[],
          newObj:[],
          NameList:[],
          Introduce:[],
          SpriceList:[],
          NpriceList:[],
          biddList:[],
          ExhibitName:'',
          ExhibitIntro:'',
          Sprice:null,
          Nprice:null,
          inputprice:null,
          nowBidding:{},
          biddverify:[],
          theId: '1',
          content:'my-component',
          itemMessage:'尚未選取競標品',
          timer:OneHour,
          itemTime:'尚未選取競標品',
          timeList:[],
          imgSrc:'',
          price: 888,
      },
      filters: {
        
          hoursMinutesAndSeconds (value) {
          // let hours = Math.floor(value / 60 * 60);
          let hours = Math.floor(value / (60 * 60));
          let minutes = Math.floor((value / 60) % 60);
	        let seconds = Math.floor(value % 60);
          return `${hours} : ${minutes} : ${seconds}`;
          console.log(itemTime);
        }
      },
      // 抓資料
      mounted() {
        axios.get("./assets/php/front/bidding.php").then((res) => {
              // console.log(res.data[0]);
              for(let i = 0; i<res.data.length;i++){
                this.imgList.push(res.data[i].img_path);
                this.dataId.push(res.data[i].work_id);
                this.timeList.push(res.data[i].bidding_time);
                this.NameList.push(res.data[i].work_name);
                this.Introduce.push(res.data[i].work_introduce);
                this.SpriceList.push(res.data[i].start_price);
                this.NpriceList.push(res.data[i].now_price);
                this.biddverify.push(res.data[i].bidding_verify);
              }
        }).catch();
        // console.log(this.timeList);
        // setTimeout(()=>{         
        //     this.dataId = product.dataId;
        //     this.imgList = product.imgList;
        //     this.ExhibitName = product.ExhibitName[0];
        // },500);
        //this.newObj = JSON.parse(localStorage.getItem('biddList'))||[];
        setInterval(() => this.timer -= 1, 1000);
      },
      methods: {
        changeHandler(val){
          this.componentChange = val;
        },
        change(index){
                    this.active = (index + this.total) % this.total
                },
        getData(e){
              this.theId = e.target.dataset.id - 1;   
              // this.imgSrc = `./assets/img/${this.theId}.png`;
              // this.imgSrc = `./assets/img/exh_${this.theId}.jpg`;
              this.imgSrc = this.imgList[this.theId];
              this.ExhibitName = this.NameList[this.theId];
              this.ExhibitIntro = this.Introduce[this.theId];
              this.Sprice = this.SpriceList[this.theId]*1;
              this.Nprice = this.NpriceList[this.theId];
              this.inputprice = this.Sprice;
              this.itemTime = this.timeList[this.theId];
              let nowStatus ;
              //他可不可以競標
              //如果他可以競標我再每秒刷新
              for(let status in this.biddverify){
                // console.log(status);
                // nowStatus = this.biddverify[status];
              // if(this.biddverify[status] == '1' && (this.theId-1) == status){
              if(this.biddverify[status] == '1' && (this.theId) == status){
                this.itemMessage = '競標中';
                setInterval(() => this.Getbiddlist(), 1000);
                // this.Getbiddlist();
                return
              }else{
                // console.log(2);
                this.itemMessage = '尚未競標';
                this.itemTime = this.timeList[this.theId];
              }}
        },
        Getbiddlist(){
          this.MessageData = JSON.parse(localStorage.getItem('tasks')) || [];
          axios.post('./assets/php/front/biddingpost.php',{
            member_id:this.MessageData[0]['id'],
            'work_id':this.theId})
              .then((res) => { 
                // console.log(res.data);
                // console.log(this.theId);
                this.newObj = res.data;
                this.Nprice = res.data[0].bidding_price;
                // console.log(this.newObj)
                //  this.newObj.push(res.data[0]); 
          }).catch();
        },
        addLocal(){
          // local版 假資料
          this.MessageData = JSON.parse(localStorage.getItem('tasks')) || [];
        
          if(!(this.MessageData.length))
          {
            alert('請先登入會員喔')
          }else{
            this.nowBidding={
            price:this.inputprice,
            time:this.timeFormate,
            work_id:this.theId,
            member_id:this.MessageData[0]['id'],
          };
          if(this.inputprice>this.Nprice)
            {
              // local版本 代資料 
              // this.newObj.push(this.nowBidding);              
              // localStorage.setItem('biddList',JSON.stringify(this.newObj));
              console.log(this.nowBidding);
              // 資料由php帶入
              axios.post('./assets/php/front/biddingpost.php', this.nowBidding)
              .then((res) => { 
                console.log(res.data);
              })
              //.catch((error) => { console.error(error) })
            }else{
              alert('出價須高於目前價格')
            }

          } 
            
        },},
      computed:{
        total(){
                return this.imgList.length
              },
              //抓取回傳日期時間秒數
                 // 得到當下時間
        timeFormate() {
        let newdate = new Date();
        let hh    = newdate.getHours() < 10? "0" + newdate.getHours(): newdate.getHours();
        let mm    = newdate.getMinutes() < 10? "0" + newdate.getMinutes(): newdate.getMinutes();
        let ss    = newdate.getSeconds() < 10? "0" + newdate.getSeconds(): newdate.getSeconds();
        this.nowTime = hh.toString()+":"+mm.toString() + ":" + ss.toString();
        return this.nowTime
        },
      },
      // watch:{
      //   count:function(val){
      //       this.type = typeof val;
      //   },
      // },
    });
  </script>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      centeredSlides: false,
      spaceBetween: 0,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    
  </script>
</body>
<!-- <script src="./assets/js/search_all.js"></script> -->
<script src="./assets/js/menu.js"></script>
<script src="./assets/js/loginFB.js"></script>
<script src="./assets/js/loginGoogle.js"></script>
<script src='./assets/js/music.js'></script>
<script src='./assets/js/verify.js'></script>
<script src='./assets/js/logIn.js'></script>
</html>